body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: #004d40;
  color: white;
  display: flex;
  align-items: center;
}

header .logoiff {
  width: 50px;
  height: auto;
}

h1, h2 {
  color: #333;
}

footer {
  background-color: #f4f4f9;
}

.bg-light {
  background-color: #ffffff;
}
